body {
  text-align: center;
  background: #ff6666;
  font-family: sans-serif;
  font-weight: 100;
}

h1 {
  color: white;
  font-size: 50px;
  margin: 40px 0px 20px;
}

.buttons {
  color: white;
  background-color: lightgrey;
  border: white solid;
  padding: 15px 32px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 25px;
  width: 800px;
  border-radius: 12px;
  cursor: pointer;
}

.buttons:hover {
  color: red;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
