body{
	text-align: center;
	background: #ff6666;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: white;
  font-weight: 10px;
  font-size: 50px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: white;
	display: inline-block;
	font-weight: 50px;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: white;
	display: inline-block;
}

#clockdiv div > span{
	padding: 50px;
	border-radius: 3px;
	background: lightgray;
	display: inline-block;
}

.smalltext{
  color: black;
	padding-top: 5px;
	font-size: 20px;
}

input {
  display: block;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

.btn {
  background: lightgrey;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem;
  text-transform: uppercase;
  transition: 0.3s all linear;
}

.btn:hover {
  background: #CCC;
  color: red;
}
